.longCanvas {
    width: 80rem;
    height: 40rem;
}

.roundCanvas{
    width: 35rem;
    height: 35rem;

}
.canvas-wrapper {
    width: 100%;
    height: 100%;
}

.vForm {
    box-shadow: 0.2rem 0.2rem 5px 0.1rem lightslategrey;
    border: 0.1rem solid black;
    border-radius: 2rem;
    margin: 1rem;
    text-align: center;
    background-color: white;
}

.buttonStyling {
    margin-right: 2rem;
    width: 15rem;
    padding: 1rem;
    background-color: var(--postnord-theme-color) !important;
    color: var(--text-color-light) !important;
    border-radius: var(--custom-border-radius) !important;
    font-weight: 600;
    transition: background-color 0.3s, color 0.3s;
}

.buttonStyling:active,
.buttonStyling:hover {
    background-color: var(--postnord-theme-color);

}

.graph-section {
    border: 0.1rem solid black;
    background-color: white;
    margin: 2rem auto;
    text-align: center;
    max-width: 90rem;
    border-radius: 2rem;
    width: auto;
    height: auto;
}

.graph-section .graph-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
}

.graph-section canvas {
    max-width: 90rem;
    max-height: 30rem;
    width: auto;
    height: auto;
}


.page-heading {
    color: var(--text-color-dark-alt);
    font-size: var(--h5-custom-size);
    margin: 3rem 0;
    font-weight: 900;
}

.heading {
    color: var(--component-title-color);
    font-size: var(--component-title);
    margin-bottom: 4rem;
    font-weight: 900;
}

hr {
    border: 0.1rem solid var(--postnord-theme-color);
}

label {
    color: var(--text-color-dark);
    font-weight: 600;

}

.main-container {
    font-size: var(--text-size);
    padding: 0 5rem;
    display: flex;
    column-gap: 5rem;

    flex-direction: column;
}

.customer-container {
    padding: 3rem;
    margin-bottom: .5rem;
    margin-top: 3rem;
    border: 0.1rem solid var(--theme-color);
    border-radius: var(--custom-border-radius);
    max-width: fit-content;
}

.stats-container {
margin-top: 3rem;
    padding: 3rem;
    border: 0.1rem solid var(--theme-color);
    border-radius: var(--custom-border-radius);
    max-width: fit-content;

}

.hero-section {
    display: flex;
    gap: 2rem;
}

.pie-section {
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
}

.line {
    border-right: .3rem solid black;
}

.title {
    margin-bottom: 1rem;
    color: #444;
}

.left {
    margin-left: 3rem;
}

.sub-title {
    margin-bottom: 4rem;
}


.most-stats {
    font-size: 3rem;
    color: green;
    margin-left: 2rem;
}

.least-stats {
    font-size: 3rem;
    color: red;
    margin-left: 2rem;
}


.label {
    margin-bottom: 1rem;
}

.inputField-text{
    font-size: var(--h4-custom-size) !important;
    color: var(--theme-color) !important;
}
.v-label {
    font-size: var(--h3-custom-size);
    color: var(--theme-color) !important;
    opacity: 1 !important;
    margin-left: 3rem !important;
}
.inputField {
    width: 100%;
    margin-right: 8rem;
    padding: 0.5rem;
    border-radius: 999rem !important;
    color: var(--theme-color) !important;
}

.v-text-field input[type="text"]{
    border-radius: var(--custom-border-radius) !important;
}
.v-field__outline {
    --v-field-border-opacity: 0 !important;
    border-width: 0 !important;
}

.v-field--variant-filled .v-field__outline::after, .v-field--variant-underlined .v-field__outline::after {
    border-style: none !important;
    border-width: 0 0 0 !important;
    color: var(--theme-color) !important;
}

.search {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.search-content {
    display: flex;
    margin: 0 0 3rem 0;
    gap: 5rem;
}

.search-content-field {
    display: flex;
    flex-direction: column;
}
@media (min-width: 1280px){
    .v-container {
        margin-right: 5rem !important;
        margin-left: 5rem !important;
        max-width: 1500px !important;
    }
}
.v-container {
    margin-right: 5rem !important;
    margin-left: 5rem !important;
    max-width: 1500px !important;
}
.search-bottom {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}


.download {

    border: none;
    margin-top: 1rem;
}

option {
    width: 10rem;
}

.download:hover,
.download:active {
    cursor: pointer;
    color: var(--postnord-theme-color);
}

.scrollable-div {
    max-height: 40rem;
    overflow-y: scroll;
}

.result-container {
    margin-top: 3rem;
}

#table-container {
    max-height: 50rem;
    overflow: hidden;
    transition: max-height 5.5s ease-out;
    overflow-y: scroll;
}

.statistics-container {
    margin-top: 2rem;
}

.statistic-box {
    display: flex;
    justify-content: space-between;
    margin: 3rem 0 3rem 0;
}

.table-chart {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
}

/* PULSE BUBBLES */
.spinner-box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

@keyframes pulse {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: .25;
        transform: scale(.75);
    }
}

.pulse-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pulse-bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--postnord-theme-color);
}

.pulse-bubble-1 {
    animation: pulse .4s ease 0s infinite alternate;
}

.pulse-bubble-2 {
    animation: pulse .4s ease .2s infinite alternate;
}

.pulse-bubble-3 {
    animation: pulse .4s ease .4s infinite alternate;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35rem;
}

.number-highlight {
    font-size: 6rem;
    color: rgba(54, 162, 235, 1);
}

