<style scoped>
.invoices-input {
  margin-bottom: 2rem;
}

.invoice-search-label {
  margin-right: 1rem;
}

.input-field {
  width: 300px;
}

.search-result {
  margin-bottom: 2rem;
}

.graph-section {
  margin-top: 4rem;
}

/*
* Input field / search bar
*/
.invoice-search-label {
  font-size: 1.6rem;
  font-weight: bold;
}

.invoices-input {
  margin-left: 1rem;
}

.input-field {
  height: 4rem;
  width: 30rem;
  border-radius: 2rem !important;
  text-align: center;
  font-size: 1.4rem;
}

/*
* Main content
*/
.invoices-main-content {
  padding: 2rem 0;
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  text-align: center;
  /**  border: 0.5rem solid green;**/
  /** background-color: lightblue; **/
  overflow: hidden;
}



.invoices-table {
  border-radius: 2rem;
  /**grid-row: 1 / 1;
  grid-column: 1 / 3; **/
}

.table-head-item {
  padding: 0 1rem;
  font-size: 1.2rem;
  top: 0;
  z-index: 1;
  position: sticky;
}

.table-data-item {
  font-size: 1.2rem;
}

.main-section-content {
  /** border: 0.1rem solid black; **/
  height: 50rem;
  margin: 2rem 2rem;
  overflow: hidden;
  /**  grid-column: 1 / 3; **/
  /**background-color: white;**/
}

.invoices-search-result-section {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  grid-column: 3 / 5;
  grid-row: 1 / 1;
}

.search-result {
  border: 0.1rem solid black;
  border-radius: 2rem;
  margin: 1rem;
  text-align: center;
  background-color: white;
}

.graph-section {
  border: 0.1rem black solid;
  background-color: white;
  margin: 2rem 2rem;
  text-align: center;
  grid-column: 1 / 5;
  grid-row: 2 / 2;
  max-width: 90rem;
}

canvas {
  width: 100%;
  position: relative;
  z-index: 0;
  max-height: 90rem;
  height: 20rem;
  max-width: 90rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.82);
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  background-color: white;
  margin: 10% 10% 4%;
  border-radius: var(--custom-border-radius);
  width: 40%;
  height: 20%;
}

.closeModalButton {
  position: fixed;
  background-color: var(--postnord-theme-color);
  width: 20rem;
  height: 5rem;
  color: white;
  font-size: var(--h4-custom-size);
  border-radius: var(--custom-border-radius);
  left: 45%;
  right: 50%;
  bottom: 0;
}
.search-form {
  box-shadow: 0.2rem 0.2rem 5px 0.1rem lightslategrey;
  border-radius: 1.5rem;
  width: 90%;
}
.search-container{
  position:sticky;
  top:0;
  z-index: 1;
}
.wrapper {
  position: sticky;
  top: 0;
}
#table-container {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.table-container {
  flex-grow: 1;
  width:100%;
  margin: 0 5rem 5rem;
}
.table-body {
  height: 100%;
  overflow-y: scroll;
  padding-bottom: 5rem;
}
.table-div{
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.invoices-table {
  border-radius: 0.2rem solid var(--theme-color);
  overflow: hidden;
  margin-right: 10rem;
}

.table-div {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-section {
  border: 0.1rem solid black;
  background-color: white;
  margin: 2rem auto;
  text-align: center;
  max-width: 90rem;
  border-radius: 2rem;
}

.graph-section .graph-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.graph-section canvas {
  max-width: 90rem;
  max-height: 30rem;
}
</style>
<template>
  <v-app>
    <v-container>
      <div class="table-div">
        <v-form class="search-form">
          <div class="search-container">
            <searchbarComponent placeholder="enter invoice number" v-model="searchInput" @search="handleSearch"/>
          </div>
          <div class="table-container">
            <table class="invoices-table">
              <thead class="table-head">
              <tr class="table-head-row">
                <th v-for="header in tableHeaders" :key="header.id" class="table-head-item">
                  {{ header.text }}
                </th>
              </tr>
              </thead>
              <tbody class="table-body" v-if="!getAllLoading && invoiceResult">
              <tr v-for="invoice in matchingInvoices" :key="invoice.id" class="table-body-row"
                  @click="selectInvoice(invoice)">
                <td v-for="value in [invoice.id, invoice.shippingOrder.id, invoice.invoicePayerType.id, invoice.thirdParty.id, invoice.customer.id]"
                    class="table-data-item">
                  {{ value }}
                </td>
              </tr>
              </tbody>
            </table>

            <loadingCircle v-if="getAllLoading" loading></loadingCircle>
          </div>

          <div class="graph-section">
            <div class="graph-wrapper">
              <canvas id="myChart"></canvas>
            </div>
          </div>

        </v-form>
      </div>
    </v-container>
  </v-app>
    <v-dialog
        v-model="showModal" class="modal-overlay" @click="closeModal">
        <div class="modal">
          <div class="invoices-search-result-section main-section-content" v-if="invoiceResult && selectedInvoice?.id">
            <div class="search-result" v-if="selectedInvoice?.id">
              <h2>Invoice</h2>
              <h1>{{ selectedInvoice?.id }}</h1>
            </div>
            <div class="search-result" v-if="selectedInvoice?.shippingOrder.id">
              <h2>Shipping order</h2>
              <h1>{{ selectedInvoice?.shippingOrder.id }}</h1>
              <p>{{ selectedInvoice?.shippingOrder.sender.id }}</p>
            </div>
            <div class="search-result" v-if="selectedInvoice?.invoicePayerType.id">
              <h2>Payer type</h2>
              <h1>{{ selectedInvoice?.invoicePayerType.id }}</h1>
            </div>
            <div class="search-result" v-if="selectedInvoice?.thirdParty.id">
              <h2>Third party</h2>
              <h1>{{ selectedInvoice?.thirdParty.id }}</h1>
            </div>
            <div class="search-result" v-if="selectedInvoice?.customer.id">
              <h2>Customer</h2>
              <h1>{{ selectedInvoice?.customer.id }}</h1>
            </div>
          </div>
          <button class="closeModalButton" @click="showModal = false" @keydown.esc="showModal = false" tabindex="0">Close</button>
        </div>
    </v-dialog>
</template>

<script>
import {ref, onMounted, computed, defineComponent} from 'vue';
import gql from 'graphql-tag';
import {useQuery} from '@vue/apollo-composable';
import {Chart} from 'chart.js/auto';
import LoadingCircle from "@/components/universalComponent/loadingCircle.vue";
import HeaderTitleComponent from "@/components/universalComponent/headerTitleComponent.vue";
import SearchbarComponent from "@/components/universalComponent/searchbarComponent.vue";

const GET_ALL_INVOICES = gql`
        query {
          getAllInvoices {
            id
            customer {
              id
            }
            thirdParty {
              id
            }
            invoicePayerType {
              id
            }
            shippingOrder {
              id
              sender {
                id
              }
            }
          }
        }`

const GET_INVOICE_BY_ID = gql`
        query getInvoiceById($id: ID!) {
          getInvoiceById(id: $id) {
            id
            customer {
              id
            }
            thirdParty {
              id
            }
            invoicePayerType {
              id
            }
            shippingOrder {
              id
            }
          }
        }`

export default {
  components: {SearchbarComponent, HeaderTitleComponent, LoadingCircle},
  data: () => ({
    tableHeaders: [
      {text: 'Invoice id'},
      {text: 'Shipping order id'},
      {text: 'Payer type id'},
      {text: 'Third party id'},
      {text: 'Customer id'},
    ],
    tableDataItem: [
      {text: 'invoice.id'},
      {text: 'invoice.shippingOrder.id'},
      {text: 'invoice.invoicePayerType.id'},
      {text: 'invoice.thirdParty.id'},
      {text: 'invoice.customer.id'},
    ],
  }),
  methods: {
    handleSearch(value) {
      this.searchInput = value;
    },
    handleRowData(row) {
      this.selectInvoice(row)
    },
    closeModal() {
      this.showModal = false;
    },
  },
  setup() {
    // function to get the invoice information by id
    const selectInvoice = (invoice) => {
      selectedInvoice.value = invoice;
      showModal.value = true;
    }
    let showModal = ref(false);
    // to hold the text in the search bar
    const searchInput = ref('');
    const selectedInvoice = ref(null);

    const {
      result: invoiceResult,
      loading: getAllLoading,
      refetch: invoiceRefetch
    } = useQuery(GET_ALL_INVOICES);
    const {
      result: getInvoicesByIdResult,
      loading: getInvoiceByIdLoading
    } = useQuery(GET_INVOICE_BY_ID);

    //returns a list of all tie invoices
    const getAllInvoices = computed(() => invoiceResult.value?.getAllInvoices);

    // returns a filtered list of all invoices matching the search input
    const matchingInvoices = computed(() => {
      return getAllInvoices.value?.filter(invoice => invoice.id.includes(searchInput.value))
    })
//


    const handleRowData = (row) => {
      selectInvoice(row);
    };


    // script for chart - chart borrowed from ( https://www.chartjs.org/docs/latest/getting-started/ )
    onMounted(() => {

      const ctx = document.getElementById('myChart');

      new Chart(ctx, {
        type: 'bar',
        data: {
          labels: ['Q1', 'Q2', 'Q3', 'Q4'],
          datasets: [{
            label: 'Total earned per quarter',
            data: [12, 14, 3, 5],
            backgroundColor: [
              'rgba(54, 162, 235, 0.6)',
              'rgba(150, 99, 132, 0.6)',
              'rgba(75, 192, 192, 0.6)',
              'rgba(255, 206, 86, 0.6)',
            ],
            borderColor: [
              'rgba(54, 162, 235, 1)',
              'rgba(150, 99, 132, 1)',
              'rgba(75, 192, 192, 1)',
              'rgba(255, 206, 86, 1)'
            ],
            borderWidth: 1
          }]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          }
        }
      });
    })


    return {
      getAllInvoices,
      getAllLoading,
      getInvoicesByIdResult,
      searchInput,
      matchingInvoices,
      getInvoiceByIdLoading,
      selectInvoice,
      selectedInvoice,
      invoiceResult,
      showModal,
    }
  },
}

</script>
