<template>
  <div class="modal-overlay">
    <div class="modal">
      <div
          class="invoices-search-result-section main-section-content"
          v-if="invoiceResult && selectedInvoice?.id"
      >

        <div class="result-invoice-id search-result" v-if="selectedInvoice?.id">
          <h2>Invoice</h2>
          <h1>{{ selectedInvoice?.id }}</h1>
        </div>

        <div class="result-shipping-order-id search-result" v-if="selectedInvoice?.shippingOrder.id">
          <h2>Shipping order</h2>
          <h1>{{ selectedInvoice?.shippingOrder.id }}</h1>
          <p>{{ selectedInvoice?.shippingOrder.sender.id }}</p>
        </div>

        <div class="result-payer-type-id search-result" v-if="selectedInvoice?.invoicePayerType.id">
          <h2>Payer type</h2>
          <h1>{{ selectedInvoice?.invoicePayerType.id }}</h1>
        </div>

        <div class="result-third-party-id search-result" v-if="selectedInvoice?.thirdParty.id">
          <h2>Third party</h2>
          <h1>{{ selectedInvoice?.thirdParty.id }}</h1>
        </div>

        <div class="result-customer-id search-result" v-if="selectedInvoice?.customer.id">
          <h2>Customer</h2>
          <h1>{{ selectedInvoice?.customer.id }}</h1>
        </div>
      </div>
      <div class="close-modal">
        <button @click="$emit('close')">X</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "invoiceModal",
  props: {
    title: {
      type: String,
      required: true,
    },
    subTitle: {
      type: String,
      required: false,
    },
  },
}
</script>

<style scoped>

</style>