<template>
  <div class="key-numbers-section">
    <div class="key-numbers-container">
      <div class="key-numbers" v-if="!getSumLoading && revenueShippingCost && numberOfCustomers">
        <p class="average-person key-numbers-text" v-if="!totalCustomersLoading">Average revenue per customer: <br>
          <span class="key-number">{{ revenueShippingCost / numberOfCustomers }} NOK</span>
        </p>
      </div>
      <div class="key-numbers" v-if="!getSumLoading && revenueShippingCost">
        <p class="parcel-shipping-cost key-numbers-text">Total revenue shipping cost: <br>
          <span class="key-number">{{ revenueShippingCost }} NOK</span>
        </p>
      </div>
    </div>
    <div class="key-numbers-container">
      <div class="key-numbers" v-if="!scanCostForAllTerminalsLoading">
        <p class="costs key-numbers-text"> Expenses: <br>
          <span class="key-number">{{ scanCostForAllTerminals }} NOK</span>
        </p>
      </div>
      <div class="key-numbers">
        <p class="earned key-numbers-text"> Total earned: <br>
          <span class="key-number">{{ revenueShippingCost - scanCostForAllTerminals }} NOK</span>
        </p>
      </div>
    </div>
  </div>

</template>

<script>
import {useQuery} from '@vue/apollo-composable'
import gql from 'graphql-tag'
import {ref, computed} from 'vue'

const GET_SUM_OF_PARCELS = gql`
        query {
          getSumOfParcels
        }`

const GET_ALL_CUSTOMERS = gql`
query GetAllCustomers {
    getTotalCustomers
}`

const GET_SCAN_COST_FOR_ALL_TERMINALS = gql`
query GetScanCostForAllTerminals {
  getScanCostForAllTerminals
}`

export default {
  setup() {

    const {result: getSumParcelResult, loading: getSumLoading} = useQuery(GET_SUM_OF_PARCELS)
    const {result: getTotalCustomersResult, loading: totalCustomersLoading} = useQuery(GET_ALL_CUSTOMERS)
    const {
      result: getScanCostForAllTerminalsResult,
      loading: scanCostForAllTerminalsLoading
    } = useQuery(GET_SCAN_COST_FOR_ALL_TERMINALS)

    // returns the sum of shipping costs for all parcels
    const revenueShippingCost = computed(() =>
        getSumParcelResult.value?.getSumOfParcels ?? [])

    // returns the number of customers
    const numberOfCustomers = computed(() => getTotalCustomersResult.value?.getTotalCustomers ?? [])

    // returns the sum of scan costs for all terminals
    const scanCostForAllTerminals = computed(() => getScanCostForAllTerminalsResult.value?.getScanCostForAllTerminals ?? [])

    return {
      revenueShippingCost,
      getSumLoading,
      numberOfCustomers,
      totalCustomersLoading,
      scanCostForAllTerminals,
      scanCostForAllTerminalsLoading
    }
  }
}
</script>

<style>

.key-numbers-section, .key-numbers-container {
  display: flex;
  margin: 2rem 0;
  padding: 2rem 0;
}

.key-numbers-section {
  flex-direction: row;
  justify-content: space-evenly;
/** border: 0.2rem solid orange; **/
}

.key-numbers-container {
  background-color: white;
  box-shadow: 1rem 1rem 3rem var(--theme-color);
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 35rem;
  height: 20rem;
  border: 0.1rem solid black;
  border-radius: 1rem;
}

.key-number {
  font-weight: bold;
  font-size: 3rem;
}

.key-numbers-text {
  font-size: 1.5rem;
}
</style>