<script>

import {computed, onMounted, reactive, ref} from "vue";
import {Loader} from '@googlemaps/js-api-loader'
import gql from "graphql-tag";
import {useQuery} from "@vue/apollo-composable";
import terminalLocations from '@/composables/terminalLocations.json'

/**
 * GraphQL query to retrieve a list of all the terminals including its
 * id, name, address, postal code, longitude, latitude and postal name.
 */
const GET_ALL_TERMINALS = gql`
    query fetchAllTerminals {
        fetchAllTerminals{
            id
            name
            address
            postalCode
            longitude
            latitude
            postalName
        }
    }
`

export default {
  name: 'GoogleMapsComponent',
  setup() {
    let amountOfTerminals = ref(0)
    /**
     * Holds the query data for fetching all terminals.
     */
    const {result, loading} = useQuery(GET_ALL_TERMINALS);
    /**
     * The terminals that are fetched from the query.
     */
    let terminals = undefined;
    const returnTotalIncome = () => incomeOfAllTerminals.value;
    const returnTotalPackageVolume = () => packageVolumeOfAllTerminals.value;

    // Holds the total amount of terminals.
    const returnTerminalCount = () => amountOfTerminals.value;
    // Retrieves the current position.
    // The coordinates of the clicked position on the map.
    const clickedPosition = ref(null)
    // Loading the Google Map with the API Key
    const loader = new Loader(
        {
          apiKey: process.env.VUE_APP_GOOGLE_MAPS_API_KEY
        })

    const googleMaps = ref(undefined)
    // The map itself. Not initiated.
    let map = ref(undefined)
    // function to add markers on the map. Not initiated.
    let addMarker = ref(undefined)
    // function to add circles on the map. Not initiated.
    let addCircle = ref(undefined)

    // Listening for clicks Not initiated.
    let clickListener = null
    // Array with the circles that is supposed to be on the map. Not initiated.
    let circles = []
    // Array with the markers that is supposed to be on the map. Not initiated.
    let markers = []
    // Array with the infoWindows that is supposed to be available on the map. Not initiated.
    let infoWindows = []
    let terminalPackageVolume;
    let terminalIncome;
    // Holds a temp value for income of a terminal.
// Holds a temp value for package volume through a terminal.
    const incomeOfAllTerminals = ref(null)
    const packageVolumeOfAllTerminals = ref(null)
    // Holds the total amount of terminals.
    let terminalCount = ref(0);
    // Adding marker
    addMarker = (location,
                 Company,
                 name,
                 address,
                 postalCode,
                 postalName) => {
      const marker = new google.maps.Marker({
        position: location,
        map: map.value
      })
      markers.push(marker)

      // Adding infoWindow
      let infoContent = '<b>' + Company + '\n' +
          name + '</b>' + '<br>' +
          address + '<br>' +
          postalCode + ' ' +
          postalName;
      const infoWindow = new google.maps.InfoWindow({
        content: infoContent
      })

      infoWindows.push(infoWindow)
      marker.addListener('click', () => {
        infoWindows.forEach(window => window.close())
        infoWindow.open(map.value, marker)
      })
      // Store marker data in local storage
      const markerData = {
        location: location,
        company: Company,
        name: name,
        address: address,
        postalCode: postalCode,
        postalName: postalName
      }
      const markersData = JSON.parse(localStorage.getItem('markers')) || []
      markersData.push(markerData)
      localStorage.setItem('markers', JSON.stringify(markersData))
    }

// Draw markers from local storage when the page loads
    function drawMarkersFromLocalStorage() {
      const markersData = JSON.parse(localStorage.getItem('markers')) || []
      markersData.forEach(markerData => {
        addMarker(markerData.location, markerData.company, markerData.name, markerData.address, markerData.postalCode, markerData.postalName)
      })
    }

// Adding circle
    addCircle = (location,
                 radius,
                 color) => {
      const circle = new google.maps.Circle({
        strokeColor: color,
        strokeOpacity: 0,
        strokeWeight: 2,
        fillColor: color,
        fillOpacity: 0,
        map: map.value,
        center: location,
        radius: radius
      })
      circles.push(circle)
    }

    let state = reactive({
      showEconomicalStatus: false,
      showPackageStatus: false,
    });
    let addTerminalIncomeCircle = ref(null)
    let addTerminalPackageVolumeCircle = ref(null)
    let incomeCircles = []
    let packageVolumeCircles = []
    let totalPackageVolume;
    let totalAmountOfIncomeAtTerminals;

    function toggleEconomyStatus() {
      while (state.showPackageStatus) {
        togglePackageStatus()
      }
      state.showEconomicalStatus = !state.showEconomicalStatus;
      toggleEconomyCircleOpacity()
    }

    function togglePackageStatus() {
      while (state.showEconomicalStatus) {
        toggleEconomyStatus()
      }
      state.showPackageStatus = !state.showPackageStatus;
      togglePackageCircleOpacity()
    }

    function toggleEconomyCircleOpacity() {
      if (incomeCircles) {
        incomeCircles.forEach(circle => {
          if (state.showEconomicalStatus) {
            circle.setOptions({
              fillOpacity: 0.35,
              strokeOpacity: 0.8
            })
          } else {
            circle.setOptions({
              fillOpacity: 0,
              strokeOpacity: 0
            })
          }
        })
      }
    }

    function togglePackageCircleOpacity() {
      if (packageVolumeCircles) {
        packageVolumeCircles.forEach(circle => {
          if (state.showPackageStatus) {
            circle.setOptions({
              fillOpacity: 0.35,
              strokeOpacity: 0.8
            })
          } else {
            circle.setOptions({
              fillOpacity: 0,
              strokeOpacity: 0
            })
          }
        })
      }
    }


    /**
     * Fetching the terminals from the query data.
     */
    function fetchData() {
      try {
        if (!terminals) {
          terminals = computed(() => result.value?.fetchAllTerminals || [])
        }
      } catch (e) {
        console.log("Error retrieving terminals", e)
      }
    }


    /**
     * Returns the color of the terminal based on the parameters.
     * @returns {string} the color code to be returned.
     */
    function getTerminalColor(terminalSum, packageVolume) {
      let redCircleColor = '#ff0000';
      let yellowCircleColor = '#f4ff00';
      let greenCircleColor = '#0ace00';


      // Return economy color
      if (packageVolume === 0) {
        if (terminalSum > 1000000) { // Over 1 000 000 ? returner GREEN
          return greenCircleColor;
        } else if (terminalSum > 100000) { // Over 100 000 ? returner YELLOW
          return yellowCircleColor;
        } else {                        // Under 100 000 ? returner RED
          return redCircleColor;
        }
      }

      // Return package color
      if (terminalSum === 0) {
        if (packageVolume > 1000000) { // Over 1 000 000 ? returner RED
          return redCircleColor;
        } else if (packageVolume > 100000) { // Over 100 000 ? returner YELLOW
          return yellowCircleColor;
        } else {                      // under 100 000? returner grønn
          return greenCircleColor;
        }
      }
    }

    function incrementPerTerminal(income, packages) {
      totalAmountOfIncomeAtTerminals += income
      totalPackageVolume += packages
      amountOfTerminals.value += 1;
      packageVolumeOfAllTerminals.value += packages
      incomeOfAllTerminals.value += income
    }

    /**
     * Returns the income and package volume at a terminal.
     * @param id the id of the terminal.
     * @returns {{income, postalVolume}|null} the income and package volume at a terminal.
     */
    function getTerminalIncomeAndPackageVolume(id) {
      const matchedTerminal = terminalLocations.find(terminal => terminal.id === id)
      if (matchedTerminal) {
        let {postalVolume, income} = matchedTerminal;
        return {postalVolume, income};
      } else {
        return null;
      }
    }

    onMounted(async () => {
      await fetchData()
      await loader.load()
      map.value = new google.maps.Map(googleMaps.value, {
        center: {// Centering the map to the middle of Norway.
          lat: 64.01630975589472,
          lng: 11.474937829384485
        },
        zoom: 5,                                    // Defining how zoomed in/out the map shall be as default.
        mapTypeId: google.maps.MapTypeId.SATELLITE // Setting the default google maps view to satellite
      })

      // Adding circle
      addTerminalIncomeCircle = (location,
                                 radius,
                                 color) => {
        const circle = new google.maps.Circle({
          strokeColor: color,
          strokeOpacity: 0,
          strokeWeight: 2,
          fillColor: color,
          fillOpacity: 0,
          map: map.value,
          center: location,
          radius: radius
        })
        incomeCircles.push(circle)
      },
          // Adding circle
          addTerminalPackageVolumeCircle = (location,
                                            radius,
                                            color) => {
            const circle = new google.maps.Circle({
              strokeColor: color,
              strokeOpacity: 0,
              strokeWeight: 2,
              fillColor: color,
              fillOpacity: 0,
              map: map.value,
              center: location,
              radius: radius
            })
            packageVolumeCircles.push(circle)
          }

      // If terminal data exists, import terminal data
      if (terminals) {
      /**
       * Iterating through the terminals and adding them to the map.
       */
      terminals.value.forEach(terminal => {
        // Adding the terminal location markers including infowindow on the map.

        // If the terminal id can be fetched, retrieve the package volume and income at a terminal.
        if (getTerminalIncomeAndPackageVolume(terminal.id)) {
          // If the package volume data exist, set the package volume variable to the package volume data.
          if (getTerminalIncomeAndPackageVolume(terminal.id).postalVolume) {
            terminalPackageVolume = getTerminalIncomeAndPackageVolume(terminal.id).postalVolume;
          }
          // If the income data exist, set the income variable to the income data.
          if (getTerminalIncomeAndPackageVolume(terminal.id).income) {
            terminalIncome = getTerminalIncomeAndPackageVolume(terminal.id).income;
          }
        }

        addMarker(
            {
              lat: terminal.latitude,
              lng: terminal.longitude
            },
            "Postnord avd. ",
            terminal.name,
            terminal.address,
            terminal.postalCode,
            terminal.postalName,
        )
        addTerminalPackageVolumeCircle(
            {lat: terminal.latitude, lng: terminal.longitude},
            30000,
            getTerminalColor(0, terminalPackageVolume)
        )
        addTerminalIncomeCircle(
            {lat: terminal.latitude, lng: terminal.longitude},
            30000,
            getTerminalColor(terminalIncome, 0)
        )
        incrementPerTerminal(terminalIncome, terminalPackageVolume)
      })}


// draw the markers from local storage
      drawMarkersFromLocalStorage()
    })


    return {
      clickedPosition,
      googleMaps,
      state,
      toggleEconomyStatus,
      togglePackageStatus,
      returnTotalIncome,
      returnTotalPackageVolume,
      returnTerminalCount,
    }
  }
}
</script>


<template>
  <v-container fluid>
    <v-row>
      <v-col cols="9">
        <div ref="googleMaps"
             style="width: 100%;
               height: 80vh;
               left: 0;
               top: 0;
"/>
      </v-col>
      <v-col cols="3">
        <v-card variant="outlined" style="border-radius: 3rem">
          <v-card-title style=" font-size: 2.5rem; padding-top: 2rem"><b>Filters</b></v-card-title>
          <v-card-text>
            <v-radio-group column>
              <v-checkbox :value="1"
                          label="Show Economy"
                          @click="toggleEconomyStatus"
                          class="filterText radio-label"
                          checked-icon="mdi-check"
                          color="green"
                          hint="Display circles around each terminal to show their income"
              >

              </v-checkbox>
              <v-checkbox :value="2"
                          label="Show Package Volumes"
                          @click="togglePackageStatus"
                          class="filterText radio-label"
                          checked-icon="mdi-check"
                          color="green"
                          hint="Display circles around each terminal to show their traffic volume"
              >

              </v-checkbox>
            </v-radio-group>
          </v-card-text>
          <v-card-text>
            <v-card-item>
              <div class="totalTerminalIncome">
                <h1>Total Income for all terminals:</h1>
                <h1 style="padding-top: 0.5rem">{{ returnTotalIncome() }}</h1><br>

              </div>


            </v-card-item>
            <v-card-item>
              <h1>Total package volume for all terminals:</h1>
              <h1 style="padding-top: 0.5rem">{{ returnTotalPackageVolume() }}</h1>
            </v-card-item>
            <v-card-item>
              <h1>Total amount of terminals:</h1>
              <h1 style="padding-top: 0.5rem">
                {{ returnTerminalCount() }}
              </h1>
            </v-card-item>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </v-container>


</template>

<style scoped>

.infoWindowContent {
  font-size: 20rem;
}

googleMaps {
  left: 0;
  top: 0;
  max-width: 50%;
}
</style>
