<!-- Component displays table with statistics fetched from database-->
<template>
  <!-- Main statistic container -->
  <div class="statistics-container">
    <h2 class="page-heading">Tables based on customer base</h2>

    <!-- Single statistic container -->
    <hr>
    <div class="statistic-box">
      <h4>Top 10 cities with highest number of customers</h4>
      <button type="button" class="buttonStyling" @click="showTableCity">
        {{ isVisibleCity ? 'Hide table' : 'Show table' }}
      </button>
    </div>
    <div v-show="isVisibleCity" class="table-chart">
      <!-- Statistic result -->
      <table>
        <thead>
        <tr>
          <th>City</th>
          <th>Customers</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="citys in allCitiesResult" :key="citys.id">
          <td>{{ citys.city }}</td>
          <td>{{ citys.customerCount }}</td>
        </tr>
        </tbody>
      </table>
      <div class="longCanvas">
        <div class="canvas-wrapper">
      <canvas id="myCityChart" height="150" width="400"></canvas>
        </div>
      </div>
    </div>
    <hr>
  </div>
</template>

<script>
import Chart from 'chart.js/auto';

import {useQuery} from "@vue/apollo-composable"
import gql from "graphql-tag"
import {ref, computed} from "vue"

// Getting top 10 cities with highest number of customers
const ALL_CITIES = gql`
query GetAllCities{
    getAllCitiesWithCustomers{
    city
    customerCount
  }
}
  `
export default {
  emits: ['showTableCity'],
  setup(_, context) {

    const isVisibleCity = ref(false)

    //Query to fetch cities with customer count
    const {result: allCities, loading, error} = useQuery(ALL_CITIES)
    //Result of the query will be stored in allCitiesResult or empty array if query is not finished.
    const allCitiesResult = computed(() => allCities.value?.getAllCitiesWithCustomers ?? [])

    //Toggles visibility of the city statistic table
    function showTableCity() {
      isVisibleCity.value = !isVisibleCity.value;
      context.emit("showTableCity", isVisibleCity.value);
      if (isVisibleCity.value) {
        const data = allCitiesResult.value;
        const ctx = document.getElementById('myCityChart');

        // Check if a Chart instance already exists and destroy it
        if (window.myCityChart instanceof Chart) {
          window.myCityChart.destroy();
        }

        window.myCityChart = new Chart(ctx, {
          type: 'bar',
          data: {
            labels: data.map((item) => item.city),
            datasets: [
              {
                label: 'Customers per city',
                data: data.map((item) => item.customerCount),
                backgroundColor: [
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(153, 102, 255, 0.2)'
                ],
                borderColor: [
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 99, 132, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(153, 102, 255, 1)'
                ],
                borderWidth: 1,
              },
            ],
          },
          options: {
            scales: {
              yAxes: [
                {
                  ticks: {
                    beginAtZero: true,
                  },
                },
              ],
            },
          },
        });


      } else {
        if (window.myCityChart instanceof Chart) {
          window.myCityChart.destroy();
        }
      }


    }

    return {allCitiesResult, showTableCity, isVisibleCity, loading, error}
  }

}
</script>

<style scoped>
@import "@/assets/css/customer/customerDetails.css";
</style>