<template>
  <h1 class="page-heading">Parcel - Customers</h1>
  <div class="pie-section" style="margin-bottom: 2rem;">
    <!-- Pie chart -->
    <div>
      <h2 class="title left">No of parcels sent by customers</h2>
      <loadingPulseBubbles v-if="parcelLoading" loading="loading"></loadingPulseBubbles>

      <p v-if="error">Something went wrong</p>
      <div class="roundCanvas">
        <div class="canvasWrapper">
          <canvas id="myParcelChart"></canvas>
        </div>
      </div>
    </div>
    <div class="line">
    </div>
    <!-- Table -->


    <table>
      <thead>
      <tr>
      <th>No of parcels</th>
        <th>No of customers</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="result in parcelCustomerResult" :key="result.id">
        <td v-for="value in [result.noOfParcel, result.customers]">{{ value }}</td>
      </tr>
      </tbody>
    </table>


    <div class="line">
    </div>
    <!-- Average parcel per customer -->
    <div>
      <h2 class="title "> Parcels sent per customer</h2>
      <div class="center">
        <p class="number-highlight">1.5 parcels</p>
      </div>


    </div>
  </div>
</template>
<script>

import Chart from "chart.js/auto";
import {useQuery} from "@vue/apollo-composable"
import gql from "graphql-tag"
import {computed, nextTick, watchEffect} from "vue"
import LoadingPulseBubbles from "@/components/universalComponent/loadingPulseBubbles.vue";

const PARCEL_CUSTOMER = gql`
query GetTotalCustomersPerParcel{
    getTotalCustomersPerParcel{
        noOfParcel
        customers
    }
}
`

export default {
  components: {LoadingPulseBubbles},
  setup() {
    const {result: parcelResult, loading: parcelLoading, refetch, error} = useQuery(PARCEL_CUSTOMER);
    const parcelCustomerResult = computed(() => parcelResult.value?.getTotalCustomersPerParcel ?? []);

    // Creates the chart.
    // Waits for the DOM to be updated before creating the chart.
    async function createChart() {
      // Waits for the DOM to be updated.
      await nextTick();
      const ctx = document.getElementById('myParcelChart');
      const data = parcelCustomerResult.value;
      window.myParcelChart = new Chart(ctx, {
        type: "pie",
        data: {
          labels: data.map((item) => item.noOfParcel),
          datasets: [
            {
              label: "Number of customers",
              data: data.map((item) => item.customers),
              backgroundColor: [
                "rgba(54, 162, 235, 0.5)",
                "rgba(255, 99, 132, 0.2)",
                "rgba(75, 192, 192, 0.5)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(153, 102, 255, 0.2)"
              ],
              borderColor: [
                "rgba(54, 162, 235, 1)",
                "rgba(255, 99, 132, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(153, 102, 255, 1)"
              ],
              borderWidth: 2,
              hoverOffset: 3
            }
          ]
        },
        options: {}
      });
    }

    // Watch for changes in the parcelCustomerResult and create the chart
    // when the result is not empty.
    watchEffect(() => {
      if (parcelCustomerResult.value.length > 0) {
        createChart();
      }
    });

    return {
      parcelCustomerResult,
      parcelLoading,
      refetch,
      error,
      createChart
    }

  }
}
</script>
<style scoped>
@import "@/assets/css/customer/customerDetails.css";
</style>