<style scoped>
@import "@/assets/css/customer/customerDetails.css";
</style>

<template>
  <v-app>
    <headerTitleComponent title="Customer dashboard"/>
    <v-container style="width: 100%">
      <div class="table-div">
        <v-form class="vForm" @submit.prevent="submitForm">
          <!-- customer page -->
          <div class="main-container">
            <!--    <h1 class="heading">Customer dashboard</h1>-->

            <div class="hero-section">
              <!-- Search container-->
              <div class="customer-container">
                <!-- <form @submit.prevent="submitForm"> -->
                <h2 class="title"> Search in customers</h2>
                <p class="sub-title">Filter the customer base with the following fields, leave the fields that you are
                  not interested and search with
                  only interested fields
                </p>
                <div class="search">
                  <div class="search-content">
                    <div class="search-content-field">
                      <v-label for="first-name" class="label inputField-text">First name</v-label>
                      <v-text-field
                          flat solo
                          rounded
                          placeholder="First name"
                          type="text"
                          v-model.trim="firstName"
                          class="inputField input-search-box"
                      />
                    </div>

                    <div class="search-content-field">
                      <v-label for="last-name" class="label inputField-text">Last name</v-label>
                      <v-text-field
                          flat
                          solo
                          placeholder="Last name"
                          rounded type="text"
                          v-model="lastName"
                          class="inputField"/>
                    </div>

                    <div class="search-content-field">
                      <v-label for="postal-code" class="label inputField-text">Postal code</v-label>
                      <v-text-field
                          flat
                          solo
                          placeholder="Postal Code"
                          rounded type="text"
                          v-model="postalCode"
                          class="inputField"/>
                    </div>
                  </div>

                  <div class="search-content">
                    <div class="search-content-field">
                      <v-label class="label inputField-text">City</v-label>
                      <v-text-field
                          flat
                          solo
                          placeholder="City"
                          rounded type="text"
                          v-model="city"
                          class="inputField"/>
                    </div>
                    <div class="search-content-field">
                      <v-label class="label inputField-text">Email</v-label>
                      <v-text-field
                          flat
                          solo
                          placeholder="Email"
                          rounded type="text"
                          v-model="email"
                          class="inputField"/>
                    </div>

                    <div class="search-content-field">
                      <v-label class="label inputField-text">Mobile</v-label>
                      <v-text-field
                          flat
                          solo
                          type="text"
                          placeholder="Mobile"
                          v-model="mobile"
                          class="inputField"/>
                    </div>
                  </div>
                </div>

                <div class="search-bottom">
                  <div>
                    <button class="buttonStyling" type="submit">Search</button>
                    <button class="buttonStyling" @click="isVisible = !isVisible">{{
                        !isVisible ? 'Show result' : 'Hide result'
                      }}
                    </button>
                  </div>
                </div>

                <!--  </form> -->
              </div>
              <!-- Stats component -->
              <post-code/>
            </div>

            <!-- Result table -->
            <div class="result-container" v-show="isVisible">
              <!-- Loading state-->
              <loadingPulseBubbles for="showing loading status" v-if="loading" loading="loading"/>
              <!-- Displaying result -->
              <p v-else-if="error">Something went wrong! Please try again</p>
              <div v-else-if="result">
                <div v-show="isVisible" class="scrollable-div" id="table-container">
                  <table class="table">
                    <thead>
                    <tr>
                      <th v-for="header in tableHeaders" :key="header.id" class="table-head-item"
                          style="position: sticky; top: 0;">
                        {{ header.text }}
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="customer in result.getCustomersByName" :key="customer.id">
                      <td v-for="value in [
                customer.id,
                customer.firstName,
                customer.lastName,
                customer.address,
                customer.postalCode,
                customer.city,
                customer.email,
                customer.mobile
              ]"
                          class="table-data-item">
                        {{ value }}
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!-- Displaying statistics with table and chart using CityCustomers component -->
            <city-customers @showTableCity="showTableCity" @showTablePostCode="showTablePostCode"></city-customers>
            <customer-parcel></customer-parcel>
          </div>
        </v-form>
      </div>
    </v-container>
  </v-app>

</template>

<script>

import CustomerParcel from "@/components/Customer/CustomerParcel.vue"
import CityCustomers from "@/components/Customer/CityCustomers.vue"
import PostCode from "@/components/Customer/PostCode.vue"
import {useQuery} from "@vue/apollo-composable"
import gql from "graphql-tag"
import {ref} from "vue"
import HeaderTitleComponent from "@/components/universalComponent/headerTitleComponent.vue";
import LoadingPulseBubbles from "@/components/universalComponent/loadingPulseBubbles.vue";


const CUSTOMER_QUERY = gql`
      query GetCustomersByName(
        $fname : String, 
        $lname : String, 
        $pCode : String, 
        $pCity : String, 
        $mob : String, 
        $mail : String )
      {
        getCustomersByName(
            fname : $fname, 
            lname : $lname, 
            pCode : $pCode, 
            pCity : $pCity, 
            mob : $mob, 
            mail : $mail )
        {
            id
            firstName
            lastName
            address
            postalCode
            city
            mobile
            email
        }
      }
    `


export default {
  name: "App",
  components: {
    LoadingPulseBubbles,
    HeaderTitleComponent,
    CityCustomers,
    PostCode,
    CustomerParcel
  },
  data: () => ({
    tableHeaders: [
      {text: 'Id'},
      {text: 'First Name'},
      {text: 'Last Name'},
      {text: 'Address'},
      {text: 'Postal Code'},
      {text: 'City'},
      {text: 'Email'},
      {text: 'Mobile'},
    ],
  }),
  setup() {
    const isEnabled = ref(false)
    const firstName = ref('')
    const lastName = ref("")
    const postalCode = ref("")
    const city = ref("")
    const mobile = ref("")
    const email = ref("")
    const isVisible = ref(true)
    const cityTableVisible = ref();
    const postCodeTableVisible = ref();

    const {result, loading, error, refetch} = useQuery(CUSTOMER_QUERY,
        () => ({
          fname: firstName.value,
          lname: lastName.value,
          pCode: postalCode.value || null,
          pCity: city.value,
          mob: mobile.value,
          mail: email.value
        }),
        () => ({debounce: 500, enabled: isEnabled.value})
    )

    function hideTable() {
      isVisible.value = false;
    }

    function submitForm() {
      isEnabled.value = true;
      refetch();

    }

    function showTableCity(visible) {
      cityTableVisible.value = visible;
    }

    function showTablePostCode(visible) {
      postCodeTableVisible.value = visible;
    }

    return {
      cityTableVisible,
      postCodeTableVisible,
      result,
      firstName,
      lastName,
      city,
      mobile,
      email,
      postalCode,
      loading,
      error,
      isVisible,
      hideTable,
      submitForm,
      showTableCity,
      showTablePostCode,
      refetch
    }
  }
}

</script>


     


