<template>
  <div v-if="loadingSmallestPostCode && loadingLargestPostCode" class="spinner-box">
    <div class="pulse-container">
      <div class="pulse-bubble pulse-bubble-1"></div>
      <div class="pulse-bubble pulse-bubble-2"></div>
      <div class="pulse-bubble pulse-bubble-3"></div>
    </div>
  </div>
  <!-- Statistic box-->
  <div v-else class="customer-container stats-container">
    <h3 class="title"> Most number of customers</h3>
    <p> Post code <span class="most-stats">{{ largestPostCode.postCode }}</span></p>
    <p> Customers <span class="most-stats">{{ largestPostCode.customers }}</span></p><br><br>
    <h3 class="title"> Least number of customers</h3>
    <p> Post code <span class="least-stats">{{ smallestPostCode.postCode }}</span></p>
    <p> Customers <span class="least-stats">{{ smallestPostCode.customers }}</span></p>
    <br><br>
    <button type="button" @click="downloadCSV" class="download">Download table
      post codes with customers ->
    </button>
  </div>
</template>

<script>
import {useQuery} from "@vue/apollo-composable"
import gql from "graphql-tag"
import {computed} from "vue"

const LARGEST_POST_CODE = gql`
    query GetLargestPostCode{
        getLargestPostCode {
            postCode
            customers 
  }
    }
    `

const SMALLEST_POST_CODE = gql`
    query GetSmallestPostCode{
        getSmallestPostCode {
            postCode
            customers 
  }
    }
    `

const ALL_POST_CODES = gql`
query GetAllPostCodes{
    getAllPostCodes {
        postCode
        customers
    }
}
  `

export default {
  setup() {

    // Using useQuery to get the data from the query.
    const {result: resultLargestPostCode, loading: loadingLargestPostCode} = useQuery(LARGEST_POST_CODE)
    const {result: resultSmallestPostCode, loading: loadingSmallestPostCode} = useQuery(SMALLEST_POST_CODE)
    const {result: resultAllPostCodes} = useQuery(ALL_POST_CODES)

    // Using computed properties to get the data from the query and use it in the template.
    // If query is loading, computed property will return empty array.
    const largestPostCode = computed(() => resultLargestPostCode.value?.getLargestPostCode ?? [])
    const smallestPostCode = computed(() => resultSmallestPostCode.value?.getSmallestPostCode ?? [])

    // Function to download the data as CSV file.
    function downloadCSV() {
      const data = resultAllPostCodes.value.getAllPostCodes;
      const csvContent = [
        ['Post Code', 'Customers'], // header
        ...data.map((item) => [item.postCode, item.customers]), // data rows
      ]
          .map((e) => e.join(','))
          .join('\n');

      const blob = new Blob([csvContent], {type: 'text/csv;charset=utf-8;'});
      const url = URL.createObjectURL(blob);
      const link = document.createElement('a');
      link.href = url;
      link.setAttribute('download', 'all_post_codes.csv');
      document.body.appendChild(link);
      link.click();
      document.body.removeChild(link);
    }

    return {
      largestPostCode,
      smallestPostCode,
      loadingLargestPostCode,
      loadingSmallestPostCode,
      resultAllPostCodes,
      downloadCSV
    }
  }
}
</script>
