
/*
* Root variables that define global CSS variables to
* create a more universal style and allow easy customization of values.
 */
:root {
    /* Color variables */
    --theme-color: #1e293b; /* Main theme color */
    --secondary-theme: #4ade80; /* Secondary theme color */
    --text-color-light: #f1f5f9; /* Light text color */
    --text-color-dark: #1e293b; /* Dark text color */
    --text-color-dark-alt: #334155; /* Alternative dark text color */
    --text-color-grey: #64748b; /* Grey text color */
    --postnord-theme-color: #00A0D6; /* Postnord logo color */
    --postnord-theme-color-light: lightblue; /* Postnord logo light */
    /* Size variables */
    --text-size: 1.6rem; /* Default text size*/
    --sidebar-icon-size: 0.4rem; /* */
    --table-size: 2rem; /* Default size for tables */
    --picture-size: 5rem; /* Default size for pictures */
    --h1-custom-size: 2.2rem; /* Custom text size for h1 */
    --h2-custom-size: 2rem; /* Custom text size for h2 */
    --h3-custom-size: 1.8rem; /* Custom text size for h3 */
    --h4-custom-size: 1.6rem; /* Custom text size for h4 */
    --h5-custom-size: 1.4rem; /* Custom text size for h5 */
    --h6-custom-size: 1.2rem; /* Custom text size for h6 */
    --p1-custom-size: 2rem;
    --sidebar-menu-text: 2rem;
    --sidebar-menu-icon: 3rem;
    --sidebar-minimize-button-icon: 3rem;
    --component-title: 4rem;
    --component-title-color: black;
    --custom-border-radius:2rem;

    /* Height and width variables*/
    --logo-width: 20rem; /* Width of the logo */
    --logo-height: 3rem; /* Height of the logo*/
    --header-height: 5rem; /* Height of the header*/
    --header-width: 100%; /* Width of the header */
    --body-height: calc(100% - var(--header-height)); /* Height of the body */
    --body-width: calc(100% - var(--sidebar-width)); /* Width of the body */

    --sidebar-min-width: 5rem; /* Minimal width of the sidebar */
    --sidebar-width: 20rem; /* Default width of the sidebar */
    --sidebar-max-width: 20rem; /* Max width of the sidebar */

    --sidebar-height: calc(100% - var(--header-height)); /* Height of the sidebar */

    /* Misc variables*/
    --search-bar-border-radius: 2rem; /* Border radius of search bar */
    --box-border-radius: 3rem; /* Border radius of boxes */
    --text-alignment: 2rem; /* Default text alignment */
    --transition-time: 0.2s; /* Default transition time */
}

/*
 * Global styles that applies to all elements by default.
 * Adding default margin, padding, box-sizing and font-family.
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira sans', sans-serif;
}
/*
 * HTML styles that applies to the HTML element.
 * Sets the default font-size to 62.5% (1 REM = 10px) and enables smooth scrolling .
 */
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

/*
 * Prevents text and elements from being selected.
 * Can be added to any element to prevent the users from selecting the content
 */
.prevent-select-element {
    user-select: none; /* Universal Support */
    -moz-user-select: none; /* Mozilla Firefox support */
    -webkit-user-select: none; /* Webkit - Safari support */
    -ms-user-select: none; /* Internet Explorer and Edge support */
}

button, input, select, textarea {
    border: 0.2rem solid rgb(117, 114, 114);
}