table {
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    vertical-align: middle;
    overflow: scroll;
}

.width{
    width: 30%;
}
caption {
    font-weight: bold;
    font-size: 24px;
    text-align: left;
    color: #333;
    margin-bottom: 1.6rem;
}

th {
    background-color: rgb(57, 86, 111);
    color: whitesmoke;
    font-size: medium;
    text-transform: uppercase;
    letter-spacing: 2px;
}

th, td {
    padding: 0.8rem;
    border-top: 1px solid black;
}

thead th {
    width: 10%;
    position: sticky;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #eee;
}