<template>
  <v-app id="inspire">
    <v-navigation-drawer app v-model="drawer" for="Site Navigation">
      <v-list-item>
        <v-list-item-title class="text-h3" style="padding-top: 1.5rem; padding-bottom: 1rem;" id="Site title" role="option">PostNord</v-list-item-title>
        <v-list-item-subtitle class="text-h4" style="padding-top: 1rem; padding-bottom: 1rem" id="Site subtitle" role="option">Query Engine Viewer
        </v-list-item-subtitle>
      </v-list-item>
      <v-divider/>
      <v-list dense nav for="Site Navigation" role="navigation">
        <router-link
            v-for="item in topSidebarMenuItems"
            :key="item.title"
            :to="item.link"
            class="sidebar-menu-button"
            for="Navigation through the site"
        >
          <v-list-item for="Navigation drawer">
            <v-list-item-title class="text-h4 sidebar-menu menu-text" for="Displaying the title of the navigation item">
              <v-icon :icon=item.icon class="sidebar-menu-icon" style="text-decoration: none" for="Displaying a icon beside the nagivation title"></v-icon>
              {{ item.title }}
            </v-list-item-title>
          </v-list-item>
        </router-link>
      </v-list>
    </v-navigation-drawer>

    <v-app-bar app>
      <v-app-bar-nav-icon
          @click="drawer = !drawer"
          color=var(--theme-color)
      />
      <v-toolbar-title
          style="color:var(--theme-color);
          font-size: 2rem"
          for="Displaying a title of the navigation drawer"
      >Menu</v-toolbar-title>

      <v-img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a3/PostNord_wordmark.svg/2560px-PostNord_wordmark.svg.png"
          alt="PostNord Logo" class="header-logo"
          @click="redirectHome" for="Displaying the PostNord logo"
      />
    </v-app-bar>
    <v-main style="top: 50rem; right: 0; --v-layout-top: 10rem !important;">
      <div class="bodyComponent">
        <BodyComponent/>
      </div>
    </v-main>
  </v-app>
</template>
<script>
import BodyComponent from "@/components/BodyComponent.vue";
import '@mdi/font/css/materialdesignicons.min.css'

export default {
  name: "Layout",
  methods: {
    redirectHome() {
      this.$router.push('/');
    }
  },
  components: {
    BodyComponent
  },

  data: () => ({
    topSidebarMenuItems: [
      {title: 'Home', icon: 'mdi-home', link: '/'},
      {title: 'Parcels', icon: 'mdi-package-variant', link: '/parcels'},
      {title: 'Invoices', icon: 'mdi-cash', link: '/invoices'},
      {title: 'Customers', icon: 'mdi-account-circle', link: '/customers'},
      {title: 'Locations', icon: 'mdi-map-marker', link: '/locations'},
    ],
    drawer: null, // Holds the value of the sidebar wether it shall be expanded or not.
  }),
}
</script>

<style scoped>

.sidebar-menu-button {
  text-decoration: none;
}

.sidebar-menu {
  cursor: pointer;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  text-decoration: none;
  color: var(--text-color-dark);
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;/** style="height: 5rem; position: relative; right:35%; **/
  right: 25%;
  width: 5rem;
  height: 4rem;
}
@media (max-width:  1000px) and (min-width: 800px) {
  .header-logo {
    align-items: center;
    justify-content: center;
    margin-right: 3rem;
    width: 10rem;
    height: 10rem;
  }
}
@media (max-width:  799px) and (min-width: 700px) {
  .header-logo {
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 800px) and (min-width: 501px) {
  .header-logo {
    position: fixed;
    align-items: end;
    justify-content: end;
    right: 5rem;
    margin-right: 3rem;
  }
}

@media (max-width: 500px) and (min-width: 400px) {
  .header-logo {
    position: fixed;
    align-items: end;
    justify-content: end;
    right: 0;
    margin-right: 1rem;
  }
}

@media (max-width: 399px) and (min-width: 200px) {
  .header-logo {
    position: fixed;
    align-items: end;
    justify-content: end;
    right: 0;
    margin-right: 0.5rem;
  }
}
</style>