<template>
  <header>
    <h1 v-if="title" class="componentTitle">{{title}}</h1>
    <p v-if="subTitle" class="componentSubTitle">{{subTitle}}</p>
  </header>
</template>

<script>
export default {
  name: "headerTitleComponent",
  props: {
    title: {
      type: String,
      required: true,
    },
    subTitle: {
      type: String,
      required: false,
    },
  },
};
</script>

<style scoped>
.componentTitle {
  font-size: var(--component-title);
  text-align: left;
  margin-top: 8rem;
  margin-bottom: 1rem;
  margin-left: 2rem;
}
.componentSubTitle {
  font-size: var(--component-title);
  text-align: left;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin-left: 2rem;
}
</style>