<template>
  <div v-if="loading" class="text-center loading-container">
    <div class="loading-content">
      <v-progress-circular
          indeterminate
          :size="200"
          color="primary"
      >Loading...</v-progress-circular>
    </div>
  </div>
</template>

<script>
export default {
  name: "loadingCircle",
  props: {
    loading: {
      type: Boolean,
      required: true,
    },
  },
};
</script>

<style>
.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-top: 2%;
  margin-bottom: 2rem;
}
.loading-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
</style>