<template>
  <div v-if="loading">
    <!-- LOADING DOTS... -->
    <!--source - https://codepen.io/AlexWarnes/pen/jXYYKL -->
    <div class="spinner-box">
      <div class="pulse-container">
        <div class="pulse-bubble pulse-bubble-1"></div>
        <div class="pulse-bubble pulse-bubble-2"></div>
        <div class="pulse-bubble pulse-bubble-3"></div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "loadingPulseBubbles",
  props: {
    loading: {
      type: Boolean,
      required: true,
    },
  }
}
</script>

<style scoped>

</style>