<style scoped>


/* refers to the section container holding the input feilds and dropdown buttons */
.search-form-container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.search-form-row {
  padding: 2rem;
  width: 100%;
}

.form-input-description {
  font-size: medium;
  padding-bottom: 0.5rem;
}
.searching_input {
  resize: horizontal;
  width: 100%;
  height: 2rem;
  padding: 2rem;
  border-radius: 2rem;
  font-size: var(--h5-custom-size);
}
</style>
<template>
  <v-row>
    <v-col md="6">
        <v-container class="search-form-container"> <!--parcel_form_container -->
          <v-row class="search-form-row"> <!--parcel_form_container_spacing -->
            <v-col class="search-form-col">
              <h4 class="form-input-description">What are you looking for?</h4> <!-- form-input-description-->
              <input type="text"
                     :placeholder="placeholder"
                     class="searching_input"
                     v-model="searchInput"
                     @input="emitSearchValue"
              @submit.prevent>
            </v-col>
          </v-row>
        </v-container>
    </v-col>
  </v-row>
</template>

<script>
export default {
  name: "searchbarComponent",
  data() {
    return {
      searchInput: "",
    };
  },
  props: {
    placeholder: {
      type: String,
      required: true,
    },
    subTitle: {
      type: String,
      required: false,
    },
  },
  methods: {
    emitSearchValue() {
      this.$emit("search", this.searchInput);
    },
  },
};
</script>
