<template>
  <div class="bodyComponent">
    <router-view/>
  </div>
</template>

<script>
export default {
  name: "BodyComponent",
}
</script>

<style>
.bodyComponent {
  position: relative;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: var(--transition-time) ease-in-out;
}
</style>

