<template>
  <CustomersDetail/>
</template>

<script>
import CustomersDetail from "@/components/Customer/CustomersDetail.vue";

export default {
  name: "CustomerComponent",
  components: {
    CustomersDetail
  }
}
</script>