<template>
  <v-container style="margin-top: 10rem;">
    <v-row>
      <v-col>
        <p class="custom-p1">
          Welcome to our prototype query search engine, developed by a group of bachelor students for PostNord. Our project aimed to empower non-SQL users by providing them with a user-friendly interface to make queries and retrieve information from a database. The objective was to reduce their reliance on developers and save valuable time.
        </p><br>
        <p class="custom-p1">
          Our solution allows users to find the information they seek without requiring any knowledge of SQL. By simplifying the query process, users can avoid the need to approach developers and ask for assistance, thereby enhancing their autonomy and productivity.
        </p><br>
        <p class="custom-p1">
          To get started with our query engine, simply navigate through the intuitive side menu or use the conveniently placed buttons below. With our application, you can effortlessly explore the database and retrieve the desired information with ease.
        </p>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <h3 class="custom-h3">Summary of Technologies:</h3>
        <ul class="custom-list">
          <li>Backend: Spring Boot and GraphQL running in a Docker container in our server that are hosted at NTNU.</li>
          <li>Database: Informix running in a Docker container in our server that are hosted at NTNU.</li>
          <li>Frontend: Vue.js and Apollo running in a Docker container in our server that are hosted at NTNU.</li>
        </ul>
      </v-col>
    </v-row>
    <v-row>
      <v-col>
        <h3 class="custom-h3">How to Use the Program:</h3>
        <ol class="custom-list">
          <li>Start by clicking on the 'POSTNORD' logo positioned at the top center of the screen. This will take you to the home screen where you can begin your query journey.</li>
          <li>Explore the sub-menu options by clicking the arrows located in the top left corner. These options will allow you to navigate through different sections of the application, providing you with various query functionalities.</li>
        </ol>
      </v-col>
    </v-row>
  </v-container>
</template>

<style scoped>
.custom-h1 {
  font-size: var(--h1-custom-size);
  line-height: 1.5;
  color: var(--theme-color);
}

.custom-h2 {
font-size: var(--h2-custom-size);
  line-height: 1.5;
  color: var(--theme-color);
}

.custom-h3 {
font-size: var(--h3-custom-size);
  line-height: 1.5;
  color: var(--theme-color);
}

.custom-p1{
  font-size: var(--p1-custom-size);
  line-height: 1.5;
  color: var(--theme-color);
}

.custom-list {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 1.6rem;
  color: var(--theme-color);
}
a {
  text-decoration: none;
}

.link_icon :hover {
  background-color: cornflowerblue;
}

.spacing_home_icon_container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.styling_home_icon {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 25rem;
  text-align: center;
  font-size: 3.5rem;
  color: whitesmoke;
  background-color: royalblue;
  box-shadow: 0.2rem 0.2rem 5px 0.1rem lightslategrey;
  border-radius: 2rem;
  margin-bottom: 5rem;
}

.spacing_home_text_description {
  display: block;
  width: 100%;
  text-align: left;
  font-size: 2rem;
  line-height: 3rem;
  margin-bottom: 10rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.list_elements {
  margin-left: 2rem;
}

@media screen and (max-width: 769px) {
  .spacing_home_icon_container {
    display: block;
    width: 100%;
  }

  .styling_home_icon {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: whitesmoke;
    background-color: royalblue;
    box-shadow: 0.2rem 0.2rem 5px 0.1rem lightslategrey;
    margin-bottom: 1.5rem;
  }

  .spacing_home_text_description {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    line-height: 90%;
    margin: 2rem;
  }

}
</style>