<template>
  <v-app>
    <v-row>
      <v-col md="12">
        <v-row no-gutters>
          <v-col md="12">
            <headerTitleComponent title="Invoice dashboard"/>
            <InvoiceKeyNumbersComponent/>
            <InvoiceMainContentComponent/>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-app>
</template>

<script>


import HeaderTitleComponent from "@/components/universalComponent/headerTitleComponent.vue";
import InvoiceKeyNumbersComponent from "@/components/Invoice/InvoiceKeyNumbersComponent.vue";
import InvoiceMainContentComponent from "@/components/Invoice/InvoiceMainContentComponent.vue";

export default {
  name: "InvoiceComponent",
  components: {InvoiceKeyNumbersComponent, HeaderTitleComponent, InvoiceMainContentComponent},
}
</script>