<template>
  <div class="container">
    <v-app>
      <v-container>
        <v-row>
          <v-col>
            <headerTitleComponent title="Terminal Location Dashboard"/>
            <GoogleMapsComponent/>
          </v-col>
        </v-row>
      </v-container>
    </v-app>
  </div>
</template>

<script setup>
import GoogleMapsComponent from '@/components/Location/GoogleMapsComponent.vue';
import HeaderTitleComponent from "@/components/universalComponent/headerTitleComponent.vue";
</script>

<script>
export default {
  name: "LocationComponent",
}
</script>

<style scoped>

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

</style>