<style scoped>

/* Refers to the parcel title in the header! */
.parcel_Title {
  font-size: var(--component-title);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/* refers to the description of the details section in the header */
.detail_section {
  display: flex;
  justify-content: space-evenly;
  border-style: solid;
  background-color: rgb(57, 86, 111);
  color: whitesmoke;
  padding: 2rem;
  font-size: medium;
  margin-bottom: 2.5rem;
}

/* refers to the article container holding the h2 and h4
of the text displayed inside the section */
.details_article {
  padding: 2rem;
  text-align: center;
}

/* refers to the h2 (subtitle) inside the details_article */
.sub_title {
  margin-bottom: 1.2rem;
}

/* refers to the h4 (peak results) inside the details_article */
.record_result {
  font-size: 4rem;
}

@media screen and (max-width: 1280px) {
  .detail_section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
  }
}

@media screen and (max-width: 769px) {
  .detail_section {
    display: block;
    width: 100%;
  }
}

/* refers to the submittable form inside the body */
.parcel_form {
  margin: 1rem;
  box-shadow: 0.2rem 0.2rem 5px 0.1rem lightslategrey;
  border-radius: 1.5rem;
  margin-bottom: 2.5rem;
}

.parcel_form_container {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.parcel_form_container_spacing {
  padding: 2rem;
  width: 100%;
}

.form-input-description {
  font-size: medium;
  padding-bottom: 0.5rem;
}

.searching_input {
  resize: horizontal;
  width: 100%;
  height: 2rem;
  padding: 2rem;
  border-radius: 2rem;
}

.parcel_form_dropdown_menu {
  height: 4rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
  border-radius: 2rem;
  font-size: large;
}

.parcel_form_search_btn {
  text-align: center;
  height: 4rem;
  width: 100%;
  border-radius: 2rem;
  color: whitesmoke;
  background-color: rgb(63, 137, 201);
  font-size: large;
}

@media screen and (max-width: 1280px) {
  .parcel_form_container {
    display: block;
    width: 100%;
  }

  .searching_input {
    width: 100%;
  }

  .parcel_form_dropdown_menu {
    width: 100%;
  }

  .parcel_form_search_btn {
    width: 100%;
  }

}


.table-container {
  margin-left: 1rem;
  margin-right: 1rem;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.82);
  width: 100%;
  height: 100%;
}

.modal {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  background-color: white;
  margin: 10% 10% 4%;
  border-radius: var(--custom-border-radius);
  width: 40%;
  height: 20%;
}

.closeModalButton {
  position: fixed;
  background-color: var(--postnord-theme-color);
  width: 20rem;
  height: 5rem;
  color: white;
  font-size: var(--h4-custom-size);
  border-radius: var(--custom-border-radius);
  left: 45%;
  right: 50%;
  bottom: 0;
}

.search-form {
  box-shadow: 0.2rem 0.2rem 5px 0.1rem lightslategrey;
  border-radius: 1.5rem;
  width: 90%;
}


.search-form {
  box-shadow: 0.2rem 0.2rem 5px 0.1rem lightslategrey;
  border-radius: 1.5rem;
  width: 90%;
}
</style>
<template>
  <v-app>
    <headerTitleComponent title="Parcel Dashboard"/>
    <v-container>

      <v-form class="search-form">
        <div class="search-container">
          <searchbarComponent
              placeholder="Search for parcels"
              v-model="searchInput"
              @search="handleSearch"
              @keydown.enter="preventSubmit"/>
        </div>
        <v-row class="table-container">
          <v-col>
            <table>
              <caption> Database table</caption>
              <thead>
              <tr>
                <th v-for="header in tableHeaders" :key="header.id">
                  {{ header.text }}
                </th>
              </tr>
              </thead>
              <tbody v-if="!loading && matchingScans">
              <tr v-for="scan in matchingScans"
                  :key="scan.id"
                  class="table-body-row"
                  @click="selectParcel(scan)">
                <td v-for="value in [
                  scan.parcel.id,
                  scan.parcel.barcode.barcode,
                  scan.parcel.shippingOrder.sender.firstName,
                  scan.parcel.shippingOrder.sender.mobile,
                  scan.parcel.shippingOrder.sender.postalCode,
                  scan.terminal.address,
                  scan.scannedAt,
                  scan.status.status,
              ]"
                    class="table-data-item">
                  {{ value }}
                </td>
              </tr>
              </tbody>
            </table>
            <loadingCircle v-if="loading" loading style="margin-bottom: 10rem"></loadingCircle>
          </v-col>
        </v-row>
      </v-form>

    </v-container>
  </v-app>

  <v-dialog
      v-model="showModal" class="modal-overlay" @click="closeModal">
    <div class="modal">
      <div class="invoices-search-result-section main-section-content">
        <div class="search-result">
          <h2>Parcel</h2>
          <h1></h1>
        </div>
        <div class="search-result">
          <h2>Parcel2</h2>
          <h1></h1>
        </div>
        <div class="search-result">
          <h2>Parcel3</h2>
          <h1></h1>
        </div>
        <div class="search-result">
          <h2>Parcel4</h2>
          <h1></h1>
        </div>
        <div class="search-result">
          <h2>Parcel5</h2>
          <h1></h1>
        </div>
      </div>
      <button class="closeModalButton" @click="showModal = false" @keydown.esc="showModal = false" tabindex="0">Close
      </button>
    </div>
  </v-dialog>
</template>

<script>

import {useQuery} from '@vue/apollo-composable';
import gql from 'graphql-tag';
import {computed} from 'vue';
import {ref, defineComponent} from "vue";
import LoadingCircle from "@/components/universalComponent/loadingCircle.vue";
import HeaderTitleComponent from "@/components/universalComponent/headerTitleComponent.vue";
import SearchbarComponent from "@/components/universalComponent/searchbarComponent.vue";

// The query made using GraphQL
const GET_ALL_PARCELS_WITH_STATUS = gql`
    query {
        fetchAllScans {
            parcel {
                id
                barcode {
                    barcode
                }
            shippingOrder {
                sender {
                    firstName
                    mobile
                    postalCode
                }
            }
        }
        terminal {
            address
        }
        scannedAt
        status {
            status
        }
    }
}`

// Function setup
export default defineComponent({
  name: "App",
  components: {SearchbarComponent, HeaderTitleComponent, LoadingCircle},
  data() {
    return {
      tableHeaders: [
        {text: 'Parcel id', value: 'parcel.id'},
        {text: 'Barcode', value: 'parcel.barcode.barcode'},
        {text: 'First name', value: 'parcel.shippingOrder.sender.firstName'},
        {text: 'Phone number', value: 'parcel.shippingOrder.sender.mobile'},
        {text: 'Postal code', value: 'parcel.shippingOrder.sender.postalCode'},
        {text: 'Terminal address', value: 'terminal.address'},
        {text: 'Date scanned', value: 'scannedAt'},
        {text: 'Status message', value: 'status.status'},
      ],
    };
  },
  methods: {
    handleSearch(value) {
      this.searchInput = value;
    },
    closeModal() {
      this.showModal = false;
    },
    preventSubmit(event) {
      event.preventDefault();
    },
  },
  setup() {
    const selectParcel = (parcel) => {
      selectedParcel.value = parcel;
      showModal.value = true;
    }
    let showModal = ref(false);
    // Holds text for the search bar!
    const searchInput = ref('');
    const selectedParcel = ref(null);
    // Returns the list of parcels with status ID = 2
    const {result, loading} = useQuery(GET_ALL_PARCELS_WITH_STATUS)

    // Returns a list of all the parcels
    const fetchAllScans = computed(() => result.value?.fetchAllScans);

    // Returns a filtered list of parcels
    // Can filter using the values chosen below
    const matchingScans = computed(() => {
      return fetchAllScans.value?.filter(scan =>
          scan.parcel.id.includes(searchInput.value) ||
          scan.parcel.barcode.barcode.includes(searchInput.value) ||
          scan.parcel.shippingOrder.sender.firstName.includes(searchInput.value) ||
          scan.parcel.shippingOrder.sender.mobile.includes(searchInput.value) ||
          scan.parcel.shippingOrder.sender.postalCode.includes(searchInput.value) ||
          scan.terminal.address.includes(searchInput.value) ||
          scan.scannedAt.includes(searchInput.value) ||
          scan.status.status.includes(searchInput.value)
      )
    })
    // The results to be returned
    return {result, loading, searchInput, matchingScans, selectParcel, showModal, selectedParcel}
  }
})


</script>

